{% extends "shop/base.html" %}
{% block content %}
<h2>Revenue Per Product</h2>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Product id</th>
            <th>Product name</th>
            <th>Total Revenue</th>
        </tr>
    </thead>
    <tbody>
        {% for item in products %}
        <tr>
            <td>{{ item.product_id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.revenue }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
